@CHARSET "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	font-family: Tiresias, sans-serif;
}

body {
	position: relative;
	width: 1280px;
	height: 720px;
}

.notification{
	display:none;
	background-color: #3BBBDE;
	height: 720px;
	width: 200px;
	position: absolute;
	right: 65px;
	top: 36px;	
}

#logo {
	position: absolute;
	bottom: 36px;
	right: 192px;
	padding: 10px;
	width: 300px;
	height: 45px;
	background-color: grey;
	opacity: 0.8;
}


#logo img {
	width: 300px;
	height: 45px;
}

#redbutton {
	position: absolute;
	right: 128px;
	bottom: 36px;
	width: 131px;
	height: 32px;
	background-image: url("bred.png");
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 32px;
}

.hidden {
	visibility: hidden;
}

#debug-out {
	background-color: gray;
	bottom: 50px;
	color: white;
	font-size: 20px;
	height: 600px;
	line-height: 32px;
	position: absolute;
	right: 350px;
	text-align: center;
	width: 276px;
}

#bcVideo {
	line-height: 32px;
	position: relative;
	width: 1280px;
	height: 720px;
}

#notification{
	width: 100%;
	height: 200px;
	display: none;
	position: absolute;
	bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index:2;
}

#famiumLogo{
    position: absolute;
	right: 70px;
	top: 40px;
    z-index: 1;
}